.nowrap{
    white-space: nowrap;
  }
  .sheet{
    margin: 10rem;
  }

  @media only screen and (max-width: 600px) {
    .sheet{
      margin: 0rem;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .sheet{
      margin: 0rem;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .sheet{
      margin: 2rem;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .sheet{
      margin: 4rem;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .sheet{
      margin: 6rem;
    }
  }